.sidebar {
  position: absolute;
  bottom: 0px;
  left: 50px;

  .social {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: black;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  
    .icon {
      padding: 13px;
    
      &:hover {
        color:purple}
  }
}
