.sidebar {
  position: absolute;
  bottom: 0px;
  left: 50px;

  .sidebar__social {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: black;
    }
  }
  .sidebar__social-item {
    text-decoration: none;
    padding: 10px;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
